@model FeaturesVM;
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="">
    <div class="">
        <h2>Delete </h2>

        <form asp-controller="Features" asp-action="Delete" class="form-group ">

            <div asp-validation-summary="All;" class="text-danger"></div>

            <input type="hidden" asp-for="Id" disabled class="form-control" />
          
            <label>English Description</label>
            <input type="Text" asp-for="FeaturesDescription" disabled class="form-control" />
            <br />
            <br />
             <label>Arabic Description</label>
            <input type="Text" asp-for="Ar_FeaturesDescription" disabled class="form-control" />
            <br />
            <br />
                     
             <label>German Description</label>
            <input type="Text" asp-for="Ger_FeaturesDescription" disabled class="form-control" />
            <br />
            <br />
             <label>Italian Description</label>
            <input type="Text" asp-for="ital_FeaturesDescription" disabled class="form-control" />
            <br />
            <br />
             <label>Romanian Description</label>
            <input type="Text" asp-for="Rom_FeaturesDescription" disabled class="form-control" />
            <br />
            <br />
             <label>French Description</label>
            <input type="Text" asp-for="Fr_FeaturesDescription" disabled class="form-control" />
            <br />
            <br />
             <label>Turkish Description</label>
            <input type="Text" asp-for="Tur_FeaturesDescription" disabled class="form-control" />
            <br />
            <br />
             <label>Spanish Description</label>
            <input type="Text" asp-for="Esp_FeaturesDescription" disabled class="form-control" />
            <br />
            <br />
                             

             <label>Chinese Description</label>
            <input type="Text" asp-for="Chines_FeaturesDescription" disabled class="form-control" />
            <br />
            <br />
             <label>Filipino Description</label>
            <input type="Text" asp-for="Filip_FeaturesDescription" disabled class="form-control" />
            <br />
            <br />


       
            <center>
                <input type="submit" value="Delete" class="btn btn-danger" />
                <a asp-controller="Features" asp-action="Edite" asp-route-id="@Model.Id" class="btn btn-primary">Edite</a>

            </center>
            <br />   <br />
        </form>
        <center>
            <a asp-controller="Features" asp-action="Index" class="btn btn-success">Back</a>
        </center>
    </div>
</section>

