<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <p>
        <h2>Sender : Collect Signals</h2>
        <div style="color:blue;">noreply@collectsignals.com</div>
        <h2>Title :  Response to your Request</h2>

       
        <h2>Subject...</h2>

        <h3>
            Welcome ..
            <br />
            <br />
            We have successfully received your request and will process it within 24 hours at most .
            <br />
            <br />
            We will notify you as soon as your request is confirmed .
            <br />
            <br />
            Regards,,
            Collect Signals

        </h3>

        




    </p>
</body>
</html>