@model WelcomeVM
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="content-body">

    <h2 id="TOP_PAGE">Create </h2>

    <form asp-action="Create" asp-controller="Welcome" class="form-group " enctype="multipart/form-data">
        


           <div class="text-center">
            <h3>Description</h3>
        </div>

        <div class="col-sm-12 data-field-col" style="margin: 10px">
            <label for="data-name">English Description</label>
            <input type="text" class="form-control" asp-for="WelcomeDescription" style="background-color: #10163A; margin: 5px ">
        </div>


        <div class="col-sm-12 data-field-col" style="margin: 10px">
            <label for="data-name">Arabic Description</label>
            <input type="text" class="form-control" asp-for="Ar_WelcomeDescription" style="background-color: #10163A; margin: 5px ">
        </div>


        <div class="col-sm-12 data-field-col" style="margin: 10px">
            <label for="data-name">German Description</label>
            <input type="text" class="form-control" asp-for="Ger_WelcomeDescription" style="background-color: #10163A; margin: 5px ">
        </div>


        <div class="col-sm-12 data-field-col" style="margin: 10px">
            <label for="data-name">Italian Description</label>
            <input type="text" class="form-control" asp-for="ital_WelcomeDescription" style="background-color: #10163A; margin: 5px ">
        </div>


        <div class="col-sm-12 data-field-col" style="margin: 10px">
            <label for="data-name">Turkish Description</label>
            <input type="text" class="form-control" asp-for="Tur_WelcomeDescription" style="background-color: #10163A; margin: 5px ">
        </div>


        <div class="col-sm-12 data-field-col" style="margin: 10px">
            <label for="data-name">French Description</label>
            <input type="text" class="form-control" asp-for="Fr_WelcomeDescription" style="background-color: #10163A; margin: 5px ">
        </div>
        <div class="col-sm-12 data-field-col" style="margin: 10px">
            <label for="data-name">Romanian Description</label>
            <input type="text" class="form-control" asp-for="Rom_WelcomeDescription" style="background-color: #10163A; margin: 5px ">
        </div>


        <div class="col-sm-12 data-field-col" style="margin: 10px">
            <label for="data-name">Spanish Description</label>
            <input type="text" class="form-control" asp-for="Esp_WelcomeDescription" style="background-color: #10163A; margin: 5px ">
        </div>


        <div class="col-sm-12 data-field-col" style="margin: 10px">
            <label for="data-name">Chinese Description</label>
            <input type="text" class="form-control" asp-for="Chines_WelcomeDescription" style="background-color: #10163A; margin: 5px ">
        </div>


        <div class="col-sm-12 data-field-col" style="margin: 10px">
            <label for="data-name">Filipino Description</label>
            <input type="text" class="form-control" asp-for="Filip_WelcomeDescription" style="background-color: #10163A; margin: 5px ">
        </div>









        <div class="card-body demo-vertical-spacing demo-only-element">
            <div class="input-group">
                <label for="data-name" class="input-group-text">Upload photo</label>
                <input style="background-color: #10163A; margin: 5px " class="form-control" asp-for="WelcomePhoto" />
            </div>
        </div>

        <center>
            <input type="submit" value="Save" class="btn btn-success" />
            <input type="reset" value="Cancle" class="btn btn-danger" />
        </center>
        <br />   <br />
    </form>
    <center>
        <a asp-controller="Welcome" asp-action="Index" class="btn btn-primary">Back</a>
    </center>
</div>

