@using System.Globalization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Localization;
@using Microsoft.Extensions.Localization
@using Languagy_project.Resources


@inject IStringLocalizer<ShairedResource> SharedLocalizer


@{
    Layout = null;
}
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="description" content="Cryptocurrency Landing Page HTML5 Template">
    <meta name="keywords" content="Cryptocurrency, bitcoin, bitcoin landing, blockchain, crypto trading ">
    <meta name="author" content="Ecology Theme">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saadoka</title>
    <link rel="shortcut icon" href="~/images/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet"> 
    <link rel="stylesheet" href="~/css/assets/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/assets/font-awesome.min.css">
    <link rel="stylesheet" href="fonts/flaticon/flaticon.css">
    <link rel="stylesheet" href="~/css/assets/magnific-popup.css">
    <link rel="stylesheet" href="~/css/assets/owl.carousel.css">
    <link rel="stylesheet" href="~/css/assets/owl.theme.css">
    <link rel="stylesheet" href="~/css/assets/jquery.countdown.css">
    <link rel="stylesheet" href="~/css/assets/animate.css">
    <link rel="stylesheet" href="~/css/assets/preloader.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/cryptonio.css">
    <link rel="stylesheet" href="~/css/responsive.css">
</head>

<body class="body_06 loaded">
<!-- Preloader -->
<div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>
<header id="header-06" class="header">
    <!-- START NAVBAR -->
    <div id="sticky-wrapper" class="sticky-wrapper" style="height: 118px;"><nav class="navbar navbar-expand-md navbar-light bg-faded cripto_nav">
        <div class="container">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <a class="navbar-brand" data-scroll="" href="index.html"><img src="~/images/gradient-logo.png" alt="logo"></a>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a data-scroll="" href="#header-06" class="nav-link active">Home</a></li>
                    <li class="nav-item"><a data-scroll="" href="#welcome_cryptonic_06" class="nav-link">About</a></li>
                    <li class="nav-item"><a data-scroll="" href="#best_feature_06" class="nav-link">Features</a></li>
                    <li class="nav-item"><a data-scroll="" href="#team_membar" class="nav-link">Team Leader</a></li>                    
                    <li class="nav-item"><a data-scroll="" href="#faq-area-06" class="nav-link">Faq</a></li>
                </ul>
            </div>
            <div class="language">
                <a href="#contact" class="token">Contact-us</a>
                <div class="dropdown"><span>Eng<i class="fas fa-chevron-down"></i></span>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="blog.html">Deutsch</a></li>
                        <li><a class="dropdown-item" href="blog-post.html">Español</a></li>
                        <li><a class="dropdown-item" href="shop.html">Spanish</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav></div><!-- END NAVBAR -->
    <div class="container">
        <div class="row">                
            <div class="col-12 col-md-12 col-lg-6">
                <div class="intro-text">
                    <h1>Third party mining and storage platform</h1>
                    <p>It is a third-party mining and storage platform. We store stable and secure digital currencies, and a certain number of currencies will be allowed to be mined</p>
                    <div class="btn_video_wrapper">
                        <a href="#" class="btn btn-default btn-default-style">Contact-us</a>

                    </div>
                    <div class="countdown_time">
                        <h3>Co2o End in</h3>
                        <div class="clock-countdown">
                            <div class="site-config" data-date="12/11/2020 00:00:00" data-date-timezone="+0"></div>
                            <div class="coundown-timer d-flex justify-content-center">
                                <div class="single-counter  d-flex flex-column"><h4><span class="days count-time gradient-color">00</span></h4><span class="normal">Days</span></div>
                                <div class="single-counter  d-flex flex-column"><h4><span class="hours count-time gradient-color">00</span></h4><span class="normal">Hours</span></div>
                                <div class="single-counter  d-flex flex-column"><h4><span class="minutes count-time gradient-color">00</span></h4><span class="normal">Minutes</span></div>
                                <div class="single-counter  d-flex flex-column"><h4><span class="seconds count-time gradient-color">00</span></h4><span class="normal">Seconds</span></div>
                            </div>
                        </div> 

                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-12 col-lg-6 img-wrapper">
                <div class="intro-img">
                    <div class="bounce_wrapper">
                        <img src="~/images/header-06.png" alt="">
                        <div class="shape-1">
                            <div class="box bounce-1"><img src="~/images/bounce/header1_b.png" alt=""></div>
                        </div>  
                    </div>
                </div>
            </div>               
        </div>  
    </div>
    <span class="shape1 header-shape"><img src="~/images/shape/home_6/header6_shape_1.png" alt=""></span>
    <span class="shape2 header-shape"><img src="~/images/shape/home_6/header6_shape_2.png" alt=""></span>
    <span class="shape3 header-shape"><img src="~/images/shape/home_6/header6_shape_3.png" alt=""></span>   
    <span class="shape4 header-shape "><img src="~/images/shape/home_6/header6_shape_4.png" alt=""></span>   
    <span class="shape5 header-shape"><img src="~/images/shape/home_6/header6_shape_5.png" alt=""></span>     
    <span class="shape6 header-shape"><img src="~/images/shape/home_6/header6_shape_6.png" alt=""></span>     

    <span class="bubble1 header-shape"><img src="~/images/particals_icon/fixed1.png" alt=""></span>   
    <span class="bubble2 header-shape"><img src="~/images/particals_icon/fixed1.png" alt=""></span>     
    <span class="bubble3 header-shape"><img src="~/images/particals_icon/fixed2.png" alt=""></span>
    <span class="bubble4 header-shape"><img src="~/images/particals_icon/fixed4.png" alt=""></span>  

    <div id="particles1-js" class="particles"><canvas class="particles-js-canvas-el" width="718" height="2468" style="width: 100%; height: 100%;"></canvas></div>  
</header> <!-- End Header -->

<section id="welcome_cryptonic_06">
    <div class="container">
        <div class="row">        
            <div class="col-sm-12">
                <div class="sub-title">
                        <h2 class=" wow fadeInUp" data-animate="fadeInUp" data-delay=".1s" style="visibility: hidden; animation-name: none;"> @SharedLocalizer["WelcomeSadoka"]</h2>
                </div>
            </div>
        </div>      
        <div class="row ">     
            <div class="col-sm-12 col-md-10 col-lg-10 mx-auto">
                <div class="about_cryptonic-content">
                    <img src="~/images/welcome-6.png" alt="" class="wow ZoomInUp" data-animate="ZoomInUp" data-delay=".3s" style="visibility: hidden; animation-name: none;">
                    <p class=" wow fadeInUp" data-animate="fadeInUp" data-delay="0.3s" style="visibility: hidden; animation-name: none;">The platform is licensed by the UAE government and has its main headquarters.
                        Example of stored currencies: USDT - Bitcoin - Ethereum The list of currencies that will be dealt and accepted will be determined later.
                        Mining and storage farms will be established in many countries of the world.
                        The platform will soon have an official currency as well, and it will be announced through our platform.
                        Platform partners will be currency companies.</p>
                </div>
            </div>           
        </div>         
    </div>
    <span class="shape1 header-shape"><img src="~/images/shape/home_6/wel-map.png" alt=""></span>
    <span class="bubble1 header-shape"><img src="~/images/particals_icon/fixed1.png" alt=""></span>   
    <span class="bubble2 header-shape"><img src="~/images/particals_icon/fixed1.png" alt=""></span> 
    <div id="particles2-js" class="particles"><canvas class="particles-js-canvas-el" width="718" height="2166" style="width: 100%; height: 100%;"></canvas></div>  
</section> <!-- End welcome_cryptonic -->

<section id="about_cryptonic_06">
    <div class="container">
        <div class="row">        
            <div class="col-sm-12 col-md-7 col-lg-5 padding-none">
                <div class="about_cryptonic-content">
                    <h2 class=" wow fadeInUp" data-animate="fadeInUp" data-delay="0.2s" style="visibility: hidden; animation-name: none;">Co2o Theme is The Best for your ICO</h2>
                    <p class=" wow fadeInUp" data-animate="fadeInUp" data-delay="0.3s" style="visibility: hidden; animation-name: none;">Mining is not done on the currency algorithm, but rather on the air in the place. It also measures the cubic volume of air in place. The more air there is, the more coins are mined. Later there are agreements with the government of the United Arab Emirates whereby this currency is purchased and used in vital places in the country.</p>

                    <p class=" wow fadeInUp" data-animate="fadeInUp" data-delay="0.4s" style="visibility: hidden; animation-name: none;">How do you mine? There are Sharp and Xiaomi filters and modified devices in cooperation with them that mine the air of the room in which the person is. And it has modified devices that come down with filters that you can use them for.</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-5 col-lg-7">
                <div class="about-img">
                    <div class="img-wrapper">
                         <img src="~/images/index-about.png" alt="" class="wow fadeInUp" data-animate="fadeInUp" data-delay=".3s" style="visibility: hidden; animation-name: none;">
                    </div>
                </div>
            </div>            
        </div>    
    </div>
    <span class="shape1 header-shape"><img src="~/images/shape/home_6/about-light-1.png" alt=""></span>
    <span class="shape2 header-shape"><img src="~/images/shape/home_6/about-light-2.png" alt=""></span>
    <span class="bubble1 header-shape"><img src="~/images/particals_icon/fixed1.png" alt=""></span>   
    <span class="bubble2 header-shape"><img src="~/images/particals_icon/fixed2.png" alt=""></span>     
    <span class="bubble3 header-shape"><img src="~/images/particals_icon/fixed3.png" alt=""></span>
    <div id="particles3-js" class="particles"><canvas class="particles-js-canvas-el" width="718" height="2200" style="width: 100%; height: 100%;"></canvas></div>
</section> <!-- End about_cryptonic -->

<section id="best_feature_06">
    <div class="container">
        <div class="row">        
            <div class="col-sm-12">
                <div class="sub-title">
                    <h6>How it Works</h6>
                    <h2>Best Features</h2>
                    <p>Due to the use of large computing power is assistant will instantly analyze user data offer solutions for their further use orem Ipsum has been the industry's st</p>
                </div>
            </div>
        </div>        
        <div class="row feature_items d-flex justify-content-between">        
            <div class="col-sm-12 col-md-6 col-lg-4 single-wrapper">
                <div class="single-items wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s" style="visibility: hidden; animation-duration: 2s; animation-delay: 0.3s; animation-name: none;">
                    <img src="~/images/icons/feature-01.png" alt="">
                    <h3>Air Purification Magazine</h3>
                </div>
            </div>

             <div class="col-sm-12 col-md-6 col-lg-4 single-wrapper">
                <div class="single-items wow fadeInUp" data-wow-duration="2s" data-wow-delay=".4s" style="visibility: hidden; animation-duration: 2s; animation-delay: 0.4s; animation-name: none;">
                    <img src="~/images/icons/feature-02.png" alt="">
                    <h3>Mining and profit potential.</h3>

                </div>
            </div>

             <div class="col-sm-12 col-md-6 col-lg-4 single-wrapper">
                <div class="single-items wow fadeInUp" data-wow-duration="2s" data-wow-delay=".5s" style="visibility: hidden; animation-duration: 2s; animation-delay: 0.5s; animation-name: none;">
                    <img src="~/images/icons/feature-03.png" alt="">
                    <h3>Measure the air in place intelligently.</h3>
                </div>
            </div>
        </div>  
    </div>
    <span class="shape1 header-shape"><img src="~/images/shape/home_6/feature-1.png" alt=""></span>
    <div id="particles4-js" class="particles"><canvas class="particles-js-canvas-el" width="718" height="2994" style="width: 100%; height: 100%;"></canvas></div>  
</section>

<!-- End best_feature -->

<section id="companis_supported_06" class="companis_supported_06">
    <div class="container">        
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="companis_supported_logos">
                    <div class="sub-title">
                        <h6 class=" wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s" style="visibility: hidden; animation-duration: 2s; animation-delay: 0.2s; animation-name: none;">Partners</h6>
                        <h2 class=" wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s" style="visibility: hidden; animation-duration: 2s; animation-delay: 0.3s; animation-name: none;">Supported by</h2>
                    </div>
                    <ul class="wow fadeInUp" data-wow-duration="2s" data-wow-delay=".5s" style="visibility: hidden; animation-duration: 2s; animation-delay: 0.5s; animation-name: none;">
                        <li><img src="~/images/logos/partner6-1.png" alt=""></li>
                        <li><img src="~/images/logos/partner6-2.png" alt=""></li>
                        <li><img src="~/images/logos/partner6-3.png" alt=""></li>
                        <li><img src="~/images/logos/partner6-4.png" alt=""></li>
                        <li><img src="~/images/logos/partner6-5.png" alt=""></li>                       
                        <li><img src="~/images/logos/partner6-6.png" alt=""></li>
                        <li><img src="~/images/logos/partner6-7.png" alt=""></li>
                        <li><img src="~/images/logos/partner6-8.png" alt=""></li>
                    </ul>  
                </div>
            </div>                  
        </div>               
    </div>
    <div id="particles8-js" class="particles"><canvas class="particles-js-canvas-el" width="718" height="1434" style="width: 100%; height: 100%;"></canvas></div>
    <span class="bubble1 header-shape"><img src="~/images/particals_icon/fixed1.png" alt=""></span>   
    <span class="bubble2 header-shape"><img src="~/images/particals_icon/fixed2.png" alt=""></span>     
</section><!-- End companis_supported -->

<section id="team_membar" class="team_membar">
    <div class="container">
        <div class="row">        
            <div class="col-sm-12">
                <div class="sub-title">
                    <h2 class="wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s" style="visibility: visible; animation-duration: 2s; animation-delay: 0.2s;">Meet Our Team Member</h2>
                    <p class="wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s" style="visibility: visible; animation-duration: 2s; animation-delay: 0.3s;">Due to the use of large computing power and artificial based on the neural network, the NRM assistant will instantly analyze user data and offer solutions for their further use.</p>
                </div>
            </div>
        </div>
        <div class="row single-row">
            <div class="col-sm-6 col-md-6 col-lg-4 single-wrapper">
                <div class="team-single-item  wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s" style="visibility: visible; animation-duration: 2s; animation-delay: 0.2s;">
                    <figure>
                        <div class="member-img">
                            <img src="~/images/Abdo.png" alt="member img" class="img-fluid">
                        </div>
                        <figcaption>
                            <div class="member-name">
                                <h4>Adbullah Ahmed</h4>
                                <span>Project Manager</span>
                            </div>

                        </figcaption>
                    </figure>
                </div>
            </div>

            <div class="col-sm-6 col-md-6 col-lg-4 single-wrapper">
                <div class="team-single-item  wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s" style="visibility: visible; animation-duration: 2s; animation-delay: 0.3s;">
                    <figure>
                        <div class="member-img">
                            <img src="~/images/a.png" alt="member img" class="img-fluid">
                        </div>
                        <figcaption>
                            <div class="member-name">
                                <h4>Ahmed Hassan</h4>
                                <span>Team Lead Developer</span>
                            </div>                            

                        </figcaption>
                    </figure>
                </div>
            </div>

            <div class="col-sm-6 col-md-6 col-lg-4 single-wrapper">
                <div class="team-single-item  wow fadeInUp" data-wow-duration="2s" data-wow-delay=".4s" style="visibility: visible; animation-duration: 2s; animation-delay: 0.4s;">
                    <figure>
                        <div class="member-img">
                            <img src="~/images/me.png" alt="member img" class="img-fluid">
                        </div>
                        <figcaption>
                            <div class="member-name">
                                <h4>Saad El GHetani</h4>
                                <span>Owner</span>
                            </div>                            

                        </figcaption>
                    </figure>
                </div>
            </div>


        </div> 


    </div>
</section>

<section id="faq-area-06" class="faq-area">
    <div class="container">
        <div class="row">        
            <div class="col-sm-12">
                <div class="sub-title">
                    <h2 class="wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s" style="visibility: hidden; animation-duration: 2s; animation-delay: 0.2s; animation-name: none;">Frequently Asked Questions</h2>
                    <p class="wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s" style="visibility: hidden; animation-duration: 2s; animation-delay: 0.3s; animation-name: none;">Artificial based on the neural network, the NRM assistant will instantly analyze user data use.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-5">
                <div class="faq-img  wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s" style="visibility: hidden; animation-duration: 2s; animation-delay: 0.2s; animation-name: none;">
                    <img src="~/images/fap-01.png" alt="" class="img-fluid">
                </div>
            </div>            
            <div class="col-sm-12 col-md-12 col-lg-7">
                <div class="faq-wrapper">
                        <!--Accordion wrapper-->
                    <div class="panel-group accordion-wrapper" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel accordion-single accordion-01  wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s" style="visibility: hidden; animation-duration: 2s; animation-delay: 0.2s; animation-name: none;">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                      What cryptocurrencies can I use to purchase? 
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="card-body  accordion-content">
                                    <p>Artificial intelligence based on neural networks, built using the newest algorithms for self learning, analysis and comparison of neurons in which will be self-corrected, based on the history.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel accordion-single accordion-02  wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s" style="visibility: hidden; animation-duration: 2s; animation-delay: 0.3s; animation-name: none;">
                            <div class="panel-heading active" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        How do I benefit from the ICO Token? 
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse  in show" role="tabpanel" aria-labelledby="headingOne">
                                <div class="card-body  accordion-content">
                                    <p>Artificial intelligence based on neural networks, built using the newest algorithms for self learning, analysis and comparison of neurons in which will be self-corrected, based on the history.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel accordion-single accordion-03  wow fadeInUp" data-wow-duration="2s" data-wow-delay=".4s" style="visibility: hidden; animation-duration: 2s; animation-delay: 0.4s; animation-name: none;">
                            <div class="panel-heading" role="tab" id="headingThree">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        To Keep Makeup Looking Fresh Take A Powder 
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                              <div class="card-body  accordion-content">
                                    <p>Artificial intelligence based on neural networks, built using the newest algorithms for self learning, analysis and comparison of neurons in which will be self-corrected, based on the history.</p>
                                </div>
                            </div>
                        </div>                        
                        <div class="panel accordion-single accordion-03  wow fadeInUp" data-wow-duration="2s" data-wow-delay=".5s" style="visibility: hidden; animation-duration: 2s; animation-delay: 0.5s; animation-name: none;">
                            <div class="panel-heading" role="tab" id="headingfour">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
                                        What Curling Irons Are The Best Ones
                                    </a>
                                </h4>
                            </div>
                            <div id="collapsefour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingfour">
                              <div class="card-body  accordion-content">
                                    <p>Artificial intelligence based on neural networks, built using the newest algorithms for self learning, analysis and comparison of neurons in which will be self-corrected, based on the history.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="particles10-js" class="particles"><canvas class="particles-js-canvas-el" width="718" height="2702" style="width: 100%; height: 100%;"></canvas></div>
</section><!-- End faq-area -->

<section id="contact_06">
    <div class="container">       
        <div class="row">           
            <div class="col-md-6">
                <div class="address_wrapper">
                     <div class="sub-title">
                        <h2 class="wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s" style="visibility: hidden; animation-duration: 2s; animation-delay: 0.2s; animation-name: none;">Get in touch with us</h2>
                    </div>
                    <div class="contact-info-wrapper">
                        <div class="contact-info">
                            <div class="single-list wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s" style="visibility: hidden; animation-duration: 2s; animation-delay: 0.2s; animation-name: none;">
                                <div class="address_title"><img src="~/images/icons/contact_1.png" alt=""><span>Address</span></div>
                                <div class="title_caption">
                                    <span>21 King Street <br>Melbourne Victoria 3000</span>
                                </div>
                            </div>
                            <div class="single-list wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s" style="visibility: hidden; animation-duration: 2s; animation-delay: 0.3s; animation-name: none;">
                                <div class="address_title"><img src="~/images/icons/contact_2.png" alt=""><span>Call Us</span></div>
                                <div class="title_caption">
                                    <span>+021 554 598 562</span><br>
                                    <span>+021 554 598 562</span>
                                </div>
                            </div>
                        </div>
                    </div>    
                </div>
            </div>
            <div class="col-md-6">
                <div class="contact_form">
                    <form action="#">
                        <div class="row">
                            <div class="col-12 col-sm-12  form-group  wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s" style="visibility: hidden; animation-duration: 2s; animation-delay: 0.2s; animation-name: none;">
                                <input type="text" class="form-control" id="name" placeholder="Your Name">
                            </div>
                            <div class="col-12 col-sm-12  form-group  wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s" style="visibility: hidden; animation-duration: 2s; animation-delay: 0.3s; animation-name: none;">
                                <input type="email" class="form-control person-email" id="email" placeholder="E-mail Address">
                            </div>
                            <div class="col-12 col-sm-12 form-group  wow fadeInUp" data-wow-duration="2s" data-wow-delay=".4s" style="visibility: hidden; animation-duration: 2s; animation-delay: 0.4s; animation-name: none;">
                                <textarea class="form-control" id="comment" placeholder="Massage"></textarea>
                            </div>                              
                            <div class="col-12 col-sm-12 form-group">
                                <div class="submit-btn  wow fadeInUp" data-wow-duration="2s" data-wow-delay=".5s" style="visibility: hidden; animation-duration: 2s; animation-delay: 0.5s; animation-name: none;">
                                     <input type="submit" value="Send Massage">
                                </div>
                            </div>
                        </div>
                    </form>   
                </div>                     
            </div>                  
        </div>                   
    </div>
    <div id="particles11-js" class="particles"><canvas class="particles-js-canvas-el" width="718" height="2006" style="width: 100%; height: 100%;"></canvas></div>
</section><!-- End contact -->

<div id="subscribe_area_06">
    <div class="container">
        <div class="row subscribe-wrapper">
            <div class="col-12 col-md-12 col-lg-10 mx-auto">
                <div id="subscribe" class="subscribe">
                    <div class="subscribe-form">
                        <div class="sub-title">
                            <h2 class=" wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s" style="visibility: hidden; animation-duration: 2s; animation-delay: 0.2s; animation-name: none;">Subscribe </h2>
                            <p class=" wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s" style="visibility: hidden; animation-duration: 2s; animation-delay: 0.3s; animation-name: none;">Artificial based on the neural network, the Co2o assistant will instantly analyze user data use.</p>
                        </div>
                        <form action="#">
                            <div class="form-group  wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s" style="visibility: hidden; animation-duration: 2s; animation-delay: 0.3s; animation-name: none;">
                                <input placeholder="Enter your Email Address" type="email" required="">
                                <button type="submit" class="text-center">Subscribe</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="particles12-js" class="particles"><canvas class="particles-js-canvas-el" width="718" height="712" style="width: 100%; height: 100%;"></canvas></div>
</div><!-- End subscribe_area -->

<footer id="footer-06" class="footer">

    <div class="copyright">
        <p> Copyright © 2022, Created  by <span>EIBTEK</span></p>            
    </div>   
    <span class="shape1 header-shape"><img src="~/images/shape/home_6/footer_shape_1.png" alt=""></span>
    <span class="shape2 header-shape"><img src="~/images/shape/home_6/footer_shape_2.png" alt=""></span>
    <span class="shape3 header-shape"><img src="~/images/shape/home_6/footer_shape_3.png" alt=""></span>           
</footer><!-- ./ End Footer Area-->

    <!-- JavaScript Files -->
    <script src="~/js/assets/jquery-3.2.1.min.js"></script>
    <script src="~/js/assets/popper.min.js"></script>
    <script src="~/js/assets/bootstrap.min.js"></script>
    <script src="~/js/assets/owl.carousel.min.js"></script>    
    <script src="~/js/assets/jquery.sticky.js"></script>
    <script src="~/js/assets/isotope.pkgd.min.js"></script>
    <script src="~/js/assets/jquery.magnific-popup.min.js"></script>
    <script src="~/js/assets/jquery.downCount2.js"></script>
    <script src="~/js/assets/jquery.countdown.js"></script>
    <script src="~/js/assets/particles.js"></script>
    <script src="~/js/assets/app.js"></script>      
    <script src="~/js/assets/smooth-scroll.js"></script> 
    <script src="~/js/assets/wow.min.js"></script>              
    <script src="~/js/custom.js"></script>  


</body></html>